{:name "re-flow-demo"
 ; build
 :lazy false
 :cljs-namespace [demo.page]
 :cljs-ns-bindings {'demo.page {'page demo.page/page}}
 ;runtime
 :cljs-routes {"" demo.page/page}
 :clj-services {:name "demo"
                :permission nil
                :symbols [demo.service/a-seed
                          demo.service/another-seed
                          demo.service/quotes
                          ]}}
